body {
    margin-left: : 100px;
    background-color: grey;
}
h1{
    color:white;
    font-size: 40px;
}
h2{
    color:white;
    font-size: 40px;
}
h3{
    color:white;
    font-size: 40px;
}


    p{
        font-size: :100px;
        color: white;
    }


